#header{
	width:99%;
	position: absolute;
	top:0px;
	left:0px;
	background-color: rgb(220, 95, 31);
	height: 50px;
}

#header a{
	border: 3px solid black;
	padding: 5px;
}
#links{
	position:relative;
	top:5px;
	left:15px;
}
